@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body > div:first-child,
div#__next,
div#__next > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background: #1e1e1e;
    width: 100%;
    overflow-x: hidden;
    scrollbar-width: auto;
    scroll-behavior: smooth;
    font-family: Inter, sans-serif;
}

/* Firefox */
body::-webkit-scrollbar {
    width: 14px;

}

body::-webkit-scrollbar-track {
    background: rgb(97, 97, 97);
}

body::-webkit-scrollbar-thumb {
    background: #ababab;
}

body::-webkit-scrollbar-thumb:hover {
    background: #a7a7a7;
}

.mf-cursor:before {
    transform: scale(0.5) !important;
    background: rgba(98, 60, 236, 0.37) !important;
}

* {
    box-sizing: border-box;
}

.base-page-size {
    width: 100%;
    min-height: 100vh;
}