.educationItem {
  color: #1e1e1e;
  display: grid;
  grid-column-gap: 60px;
  grid-template-columns: 1fr;
  letter-spacing: 0.03em;
  line-height: 1;

  @media (min-width: 1024px) {
    grid-template-columns: 160px minmax(200px, 1fr);
  }
}

.desktopDate {
  color: #1E1E1E;
  display: none;
  font-size: 1rem;
  font-weight: 400;
  gap: 5px;
  line-height: 1.2;

  @media (min-width: 1024px) {
    align-items: center;
    display: flex;
    height: 40px;
  }
}

.mobileDate {
  color: #807F7F;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  gap: 5px;
  line-height: 1.2;
  margin-top: 12px;

  @media (min-width: 1024px) {
    display: none;
  }
}

.title {
  align-items: center;
  display: flex;
  font-size: clamp(1.1rem, 2vw, 1.2rem);
  font-weight: 600;
  height: 40px;
  line-height: 1.2;
}

.school {
  color: #1E1E1E;
  font-size: clamp(0.9rem, 1.4vw, 1rem);
  font-weight: 300;
  line-height: 1.2;
  margin-top: 0.2rem;

  @media (min-width: 1024px) {
    color: #807F7F;
  }
}

.rightSide {
  display: flex;
  flex-direction: column;
}