@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lineAnim {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.circle {
  transform: scale(0);

  @media (min-width: 1024px) {
    animation: scaleUp 2200ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    background: #1e1e1e;
    border: 1px solid #e3e3e3;
    border-radius: 50%;
    bottom: max(-1200px, calc(-62.5vw / 2));
    height: 62.5vw;
    max-height: max(2400px, 100dvh);
    max-width: max(2400px, 100dvh);
    position: absolute;
    right: -25vw;
    transform: scale(1);
    width: 62.5vw;
    z-index: 1;
  }
}

.wrapper {
  color: #1E1E1E;
  font-size: clamp(2.3rem, 7vw, 4.7rem);
  font-weight: 600;
  line-height: 1;
}

.wrapper2 {
  color: #807F7F;
  font-size: clamp(1.2rem, 1.5vw, 1.5rem);
  font-weight: 400;
  line-height: 1.2;
  margin-top: 20px;
}

.header {
  background: #F1F1F1;
  display: flex;
  flex-direction: column;
  height: 80svh;
  overflow-x: clip;
  position: relative;
}

.headerTop {
  height: 60%;
  width: 100%;
}

.headerMiddle {
  color: #F1F1F1;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  justify-content: center;
  max-width: 1500px;
  min-height: 40%;
  padding: 40px 40px 40px 40px;
  position: relative;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  position: relative;
}

.line {
  animation: lineAnimation 4s cubic-bezier(0.075, 0.92, 0.565, 1) forwards;
  background: #000000;
  height: 1px;
  margin-top: 20px;
  width: 0;
}