.navbarDesktopItems {
  align-items: center;
  animation: none;
  color: #e5e5e5;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  gap: 3rem;
  height: 100px;
  justify-content: flex-end;
  mix-blend-mode: difference;
  opacity: var(--navbar-opacity);
  padding-right: calc(50px - (var(--scrollbar-width) * var(--scrollbar-width-multiplier)));
  pointer-events: all;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.8s ease;
  width: 100vw;
  will-change: opacity;
  z-index: 2;
}