.navbarMobileItems {
  align-items: center;
  color: #e5e5e5;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  gap: 3rem;
  height: 100dvh;
  justify-content: center;
  left: 0;
  mix-blend-mode: difference;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
  will-change: opacity;
  z-index: 4;

  &.opened {
    pointer-events: all;
  }


  @media (orientation: landscape) {
    align-items: center;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 50px 50px;
    height: auto;
    justify-items: center;
    top: 50%;
    transform: translateY(-50%);
  }
}